body {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 20px;
  background-color: #22223b;
  color: #9a8c98;
}

h1 {
  text-align: center;
}
.displaycalc {
  display: flex;
  grid-area: displaycalc;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: bottom;
  border: 1px solid gray;
  height: 30px;
  background-color: #f2e9e4;
  font-family: 'Courier New', Courier, monospace;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.add {
  grid-area: add;
}
.subtract {
  grid-area: subtract;
}
.multiply {
  grid-area: multiply;
}
.divide {
  grid-area: divide;
}
.clear {
  grid-area: clear;
}
.equals {
  grid-area: equals;
}
.clearentry {
  grid-area: clearentry;
}

button {
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 15px;
  color: #f2e9e4;
  background-color: #9a8c98;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: auto;
  gap: 10px 10px;
  justify-content: center;
  grid-template-areas: 
    'displaycalc displaycalc displaycalc displaycalc'
    '. . clear clearentry'
    'seven eight nine divide'
    'four five six multiply'
    'one two three subtract'
    'zero . equals add'
  ;
}